.spot-id-card {
    width: 100%;
}


.images-box {
    width: 90%;
    border: 1px solid black;
    display: flex;
}

.big-image {
    object-fit: fill;
    width: 50%;
     /* height: 550px; */
}

.small-images {
    border: 1px solid blue;
    width: 50%;
    height: 50%;
}

.spot-details-reviews {
    border: 1px dotted black;
}
