.spot-gallery {
    display: flex;
    flex-flow: row wrap;
    max-width: 960PX;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid black; */
}

.body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* border: 1px dotted black; */
}
