.city-state-form {
    display: flex;
    flex-flow: row;
    /* border: 1px solid black; */
    gap: 10px;
}

.city-box {
    display: flex;
    flex-flow: column;
    width: 55%;
    /* margin: 0px 2px; */
}

.state-box {
    display: flex;
    flex-flow: column;
    width: 45%;
}

.title-input {
    width: 382px;
}

.price-input {
    width: 382px;
}
