.profile-box {
    border: 1px solid black;
    font-weight: bold;
    position: absolute;
    top: 58px;
    right: 10px;
    background-color: lightgrey;
    z-index: 1;
    /* margin-left: 10px; */
    /* align-content: center; */
    /* width: fit-content; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.profile-box-signed-out {
    border: 1px solid black;
    font-weight: bold;
    position: absolute;
    top: 58px;
    right: 26px;
    background-color: lightgrey;
    z-index: 1;
    /* margin-left: 10px; */
    /* align-content: center; */
    /* width: fit-content; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.dropdown-button {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    margin-right: 6px;
}

.dropdown-button > div {
    padding: 0px 0px 0px 8px;
}

.dropdown-box {
    margin-left: 10px;
}

.profile-line {
    width: 90%;
    border-bottom: 1px solid black;
}

.profile-username, .profile-email, .profile-logout {
    margin: 5px 5px;
}

.profile-manage-spots {
    margin: 5px;
}

.logout-button {
    border-radius: 10px;
    background-color: grey;
    color: white;
}

.error-text {
    margin: 5px 10px;
    font-size: 12px;
}

.profile-box-button :hover {
    cursor: pointer;
}

